/* About.css */

#about {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #011C27;
    /* background-color: #011C27; */
    min-height: 500px;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    box-shadow: 0px -20px 20px #011C27;

    &span{
      color:gold
    }
  }
  
  .button-container {

    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  .tab-button {
    color: #62BEC1;
    /*color:#404040;*/
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    background: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
    font-weight: normal;
    &:hover {
        border-bottom-color: gold;
      }
    
    &.active {
        border-bottom-color: gold;
    }
  }
  
  .content {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    width: 80%;
    text-align: left;
    padding:10px;
    min-height: 300px;
    color: #62BEC1;
    background-color: #011923;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 600px) {
    .content {
      font-size: 12px;
      
    }
    .button-container {
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .tab-button {
      margin: 5px 0;
    }
  }
  