/* ProjectsGrid.css */

#projects {
  display: flex;
  /*grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 30px;
 /* background-color: #011C27;*/
  /*background-color: #f0eeee;*/
  min-height: 700px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  #projects {
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
  }
}