/* Skills.css */

#skills {
    text-align: center;
    padding: 20px;
    color: white;
    
    
    
  }
  
  .skills-container {
      min-height: 400px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 5px;
      justify-content: space-around;
      
      justify-items: center
  }
  .details-container{
    border-bottom: #404040 2px solid;
    border-left: #404040 2px solid;
  }
  .skill-item {
    
    margin: 10px;
    text-align: center;
    width:100px;
  }
  
  .skill-icon {
    font-size: 2.2em;
    color: #62BEC1; /* Adjust the color as needed */
  }
  
  .skill-name {
    margin-top: 5px;
  }
  .button-container {
    top:0;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  .tab-button {
    color: #62BEC1;
    /*color:#404040;*/
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    background: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
    font-weight: bold;
    &:hover {
        border-bottom-color: #D81159;
      }
    
    &.active {
        border-bottom-color :#D81159;
    }
  }
  
  .progress-bar {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    border:2px solid #62BEC1;
    padding:2px;
  }
  
  .progress {
    height: 100%;
    background-color: #62BEC1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    padding: 0 5px;
  }
  